<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Criminals</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Upload Criminal Photo</h5>
			  	</div>
			  	<div class="card-body" data-toggle="tooltip" data-placement="bottom" title="Upload Image to Search">
			    	<!--<h3 class="card-title">{{delivered}}</h3>-->
					<div id="dnd-custom-height" class="file-upload-wrapper, card-title">
						<input type="file" class="file-upload-input" data-height="500" data-file-upload="file-upload">
					  </div>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Result</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('.file-upload').file_upload();
</script>